body {
    background-image: url("pexels-deepu-b-iyer-40465.jpg");
    background-size: 1600px 1000px;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    }  
    
  }
h1 {
    border-style: double;
    border-width: 2px;
}

p {
    margin: 2%;
    background-color: rgb(130, 153, 230);
    border-radius: 5px;
    padding: 15px;
}
*{
    box-sizing: border-box;
  }

  header {
    background-color: rgb(89, 118, 247);
    padding: 30px;
    text-align: center;
    font-size: 35px;
    color: white;
  }
  
  /* Create two columns/boxes that floats next to each other */
  nav {
    float:inline-start;
    width: 100%;
    background: rgb(105, 80, 248);
    padding: 20px;
  }
  
  .nav ul {
    list-style-type: none;
    text-align:center;
    color: aliceblue;
    padding: 0;
  }
    section {
    float: left;
    background:rgb(160, 153, 194);
    padding: 30px;
    width: 60%;
    height: 400px;
}
  
  article {
    float: left;
    padding: 20px;
    width: 60%;
    background-color: #696196;
    height: 200px;
    
  }
  aside {
    float: right;
    padding: 30px;
    background:rgb(111, 179, 243);
    width: 40% ;
    height: 600px;
    
  }
  
  /* Clear floats after the columns */
  section::after {
    content: "";
    display: table;
    clear: both;
  }
  
  footer {
    background-color: rgb(15, 54, 112);
    padding: 30px;
    text-align: center;
    width: 100%;
    color: white;
  }
  