body {
    background-image: url("pexels-deepu-b-iyer-40465.jpg"); alt: taustakuva sininen järvimaisema ;
    background-size:  1000px 1000px;
    
  }
h1 {
    border-style: solid;
    border-width: 2px;
}